apiVersion: v1
kind: Service
metadata:
  name: sample-app
  namespace: sample-app
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: sample-app
  ports:
    - port: 80
      targetPort: 5173
      protocol: TCP
